@import url(https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Gentium+Basic:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap);
/**
 * Custom properties
*******************/
:root {
  /* colors */
  --clr-main: #11998E;
  --clr-hover: hls(175, 88%, 43%);
  --clr-body: #222;
  --clr-container: #2d2e37;
  --clr-text: #fcfeff;
  /* font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.3rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  --fs-100: 0.65rem;
  /* font-families */
  --ff-main: "Poppins", serif;
  --ff-title: "Gentium Basic", serif;
  --ff-sans: "Arapey", sans-serif;
}

/**
 * Reset
*******/
/* box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;
}

/* body set up */
body {
  line-height: 1.5;
  min-height: 100vh;
  color: var(--clr-text);
  background-color: var(--clr-body);
  font-family: var(--ff-main);
  font-size: var(--fs-400);
}

/* images set up */
img,
picture {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* elements set up */
input,
button,
textarea,
select {
  font: inherit;
}

li {
  list-style: noen;
}

section {
  padding: 0 0 2rem;
  margin: 0 6rem 0 6rem;
}

/* links set up */
a {
  text-decoration: none;
}

/* remove disable animations */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: smooth !important;
    scroll-padding-top: 2rem;
    padding: 0;
    margin: 0;
  }
}
/**
 * Utility Classes
*****************/
/* general */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:not(:first-child) {
  margin-top: var(--flow-space, 1rem);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* colors */
.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.bg-persian {
  background-color: hsl(var(--clr-persian));
}

.bg-coquelicot {
  background-color: hsl(var(--clr-coquelicot));
}

.text-color {
  color: var(--clr-text);
}

.text-white {
  color: hsl(var(--clr-white));
}

.text-persian {
  color: hsl(var(--clr-persian));
}

.text-coquelicot {
  color: hsl(var(--clr-coquelicot));
}

/* typography */
.ff-sans {
  font-family: var(--ff-sans);
}

.ff-title {
  font-weight: 700;
}

.ff-main {
  font-weight: 600;
}

.ff-light {
  font-weight: 300;
}

.ff-arial {
  font-family: arial;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-100 {
  font-size: var(--fs-100);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: var(--ff-sans);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

.numbered-title > span {
  margin-right: 0.5em;
  font-weight: 400;
  opacity: 0.75;
}

.text-light {
  opacity: 0.8;
}

/**
 * Components
************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #fff;
}

.home {
  position: relative;
  min-height: 470px;
  align-items: center;
  margin-top: 5rem !important;
  border-radius: 0.5rem;
}

.home img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}

.home-title {
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.8);
}

.home-txt {
  padding-left: 40px;
}

.home-author {
  margin: 10px 0 0;
  color: #11998E;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.8);
}

.home-txt a {
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.8);
}

.home-pages {
  margin-bottom: 20px;
  padding-top: 0;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.8);
}

.book-title {
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.8);
}

.book-genre {
  background-color: hsla(175, 89%, 33%, 0.4);
  padding: 3px 7px 3px 7px;
}

.read-btn {
  align-items: center;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  color: #fcfeff;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.8);
  cursor: default;
  margin-top: 20px;
}

.read-btn div:hover {
  color: #11998E;
}

.read-btn div {
  display: flex;
  transition: all 0.2s ease;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  cursor: pointer;
}

.read-btn i {
  font-size: 21px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  min-height: 470px;
  width: 100%;
  align-items: center;
}

.swiper-pagination-bullet {
  opacity: 0.6 !important;
  background: #fcfeff !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: #11998E !important;
}

.home-heading {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background: #2d2e37;
  padding: 8px 14px;
  border: 1px solid hsl(200, 100%, 99%/5%);
  margin-bottom: 0.5rem;
}

.book-box {
  position: relative;
  width: 100%;
  height: 380px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.8s ease;
}

.book-box:hover {
  background-color: #fff;
}

.book-box:hover .book-box-img {
  opacity: 0.9;
  transform: scale(1.1);
}

.book-box-img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  -o-object-fit: cover;
     object-fit: cover;
}

.book-box-txt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 14px;
  background: linear-gradient(8deg, hsl(240, 17%, 14%/74%) 14%, hsl(240, 17%, 14%/14%) 44%);
  overflow: hidden;
}

.swiper-btn .swiper-button-prev,
.swiper-btn .swiper-button-next {
  position: static !important;
  margin: 0 0 0 -15px !important;
}

.swiper-btn .swiper-button-prev::after,
.swiper-btn .swiper-button-next::after {
  position: static !important;
  color: #fcfeff !important;
  font-size: 20px !important;
  font-weight: 800 !important;
}

#cthulu-home {
  margin-top: -3.5rem;
}

#dream-home {
  margin-top: -3.5rem;
}

#weird-home {
  margin-top: -3.5rem;
}

nav {
  font-family: Poppins;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #222;
  z-index: 100;
}

.nav {
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.nav-container {
  max-width: 1068px;
  margin: auto;
  width: 100%;
}

.logo {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.search-box {
  max-width: 280px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.7rem;
       column-gap: 0.7rem;
  padding: 8px 15px;
  background: #2d2e37;
  border-radius: 4rem;
  margin-right: 1rem;
}

.search-box i {
  cursor: pointer;
  font-size: 1.1rem;
}

.search-box i:hover {
  color: #11998E;
}

#search-input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
}

.navbar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 18px;
  flex-direction: column;
  row-gap: 2rem;
}

.nav-link {
  flex-direction: column;
  align-items: center;
  color: #b7b7b7;
}

.nav-link:hover {
  color: #fcfeff;
  transform: scale(1.1);
  transition: 0.3s all linear;
}

.nav-link i {
  font-size: 1.6rem;
}

.nav-link-title {
  font-size: 0.7rem;
}

.container-btn {
  color: #b7b7b7;
  font-size: 1rem;
}

.button-user {
  font-size: 1.3rem;
  border: 2px solid #b7b7b7;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  padding: 5px;
  transition: 0.3s ease-in;
}

.user-icon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.logout-btn {
  font-size: 1.3rem;
  text-decoration: none;
  color: #b7b7b7;
  transition: 0.2s ease-in;
}

.button-user:hover {
  width: 100px;
  background-color: #fcfeff;
  border-color: #fcfeff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  color: #11998E;
  transition: 0.3s;
}

.button-user:active {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.05s;
}

.logout-btn:hover {
  color: #991111;
}

#books-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
  gap: 1.5rem;
}

#books-container .book-box {
  margin-top: 2rem;
}

.book-box:hover {
  background-color: #fff;
}

.books-box-img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  -o-object-fit: cover;
     object-fit: cover;
}

.book-box:hover .books-box-img {
  opacity: 0.9;
  transform: scale(1.1);
}

.read-btn div {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  font-weight: 500;
}

.author-genre {
  background-color: hsla(0, 0%, 13%, 0.8);
  padding: 3px 7px 3px 7px;
  margin-right: 10px;
}

.author-txt-box {
  margin-top: 25px;
}

#author-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.author-box {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.8s ease;
  border-radius: 5%;
}

.author-box:hover {
  background-color: #fff;
}

.author-box:hover .author-box-img {
  opacity: 0.9;
  transform: scale(1.1);
}

.author-box-img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  -o-object-fit: cover;
     object-fit: cover;
}

.admin-container {
  position: relative;
  align-items: center;
  border-radius: 0.5rem;
  margin-top: 6rem !important;
}

.admin-heading i {
  cursor: pointer;
}

.admin-heading i:hover {
  color: #11998E;
}

.btn-admin:hover {
  width: 40px !important;
}

table {
  border: 1px solid #fcfeff;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  color: #fcfeff;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.admin-button {
  border: none;
  cursor: pointer;
  color: #fcfeff;
  background-color: hsla(175, 89%, 33%, 0.4);
  padding: 3px 7px 3px 7px;
}

.admin-button-group .admin-button:nth-child(2) {
  background-color: hsla(0, 99%, 33%, 0.4);
}

.admin-button:hover {
  opacity: 0.8;
}

table tr {
  background-color: transparent;
  border: 1px solid #fcfeff;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.col-75-admin input[type=text], .col-75-admin select, .col-75-admin textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.col-75-admin label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.col-75-admin input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.col-25-admin {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75-admin {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row-admin:after {
  content: "";
  display: table;
  clear: both;
}

.delete-btn {
  margin-top: 10px;
  background-color: hsla(322, 99%, 33%, 0.4);
  padding: 5px 20px 5px 20px;
}

.author-select {
  background-color: transparent;
  color: white;
  border: none;
}

.author-select option {
  background-color: transparent !important;
  border: 1px solid #e4e4e4;
  color: #000;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-admin-multi {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 5px;
  background-color: #2d2e37;
}

.select-admin-multi button {
  margin-top: 25px;
  margin-bottom: 10px;
}

.book-select {
  overflow-y: auto;
  display: flex;
  outline: none;
}

.book-select option {
  background-color: white;
  color: black;
  padding: 5px;
  margin: 5px 0 5px 0;
}

.book-select option:checked {
  background-color: #11998E;
  color: white !important;
}

.book-select::-ms-expand {
  display: none;
}

.book-select i {
  cursor: pointer;
  color: hsla(0, 99%, 33%, 0.4);
}

@media screen and (max-width: 600px) {
  .admin-container {
    margin-top: 8rem !important;
  }

  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #fcfeff;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #fcfeff;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  .col-25-admin, .col-75-admin, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
