#books-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
	gap: 1.5rem;
}

#books-container .book-box {
	margin-top: 2rem;
}

.book-box:hover {
	background-color: #fff;
}

.books-box-img {
	width: 100%;
	height: 100%;
	transition: all .5s ease;
	object-fit: cover;
}

.book-box:hover .books-box-img {
	opacity: 0.9;
	transform: scale(1.1);
}