:root {
	--clr-primary: #16d891;
}

body {
	background: #000;
	color: #fff;
}

#MiskatoniC {
	position: absolute;
	width: 200px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

p {
	margin: 0.5rem 0;
}

.showcase {
	width: 100%;
	height: 100vh;
	position: relative;
	background: url('../../storage/app/public/home/landscape.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.showcase::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.3);
	box-shadow: inset 120px 100px 250px #333;
}

.showcase-top {
	position: relative;
	height: 90px;
	z-index: 2;
}

.showcase-top a {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
	color: #fff;
}

.showcase-content {
	position: relative;
	margin: auto;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 9rem;
	z-index: 2;
}

.cls-2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 822;
  }
  to {
    stroke-dashoffset: 0;
  }
}